{% extends "/pharmacist/pharmacist.html" %}

{% block menu %}
          <li><a href="/pharmacist/show_med">All Medicines</a></li>
          <li><a href="/pharmacist/medicine_info">Search Medicines</a></li>
          <li><a href="/pharmacist/select_dispatch">Dispatch Medicines</a></li>
          <li class = "selected"><a href="/pharmacist/add_medicine">Add Medicines</a></li>
          <li><a href="/pharmacist/all_companies">Medicine Companies</a></li>
          <li><a href="/pharmacist/edit_profile">Edit Profile</a></li>
          <li><a href="/signout">Sign Out</a></li>
{% endblock %}


{% block content %}
  {% if message!=None %}
  <h4>Added medicine:-</h4>
  {% for x in message %}
  <p>{{x}}</p>
  {% endfor %}
  {% endif %}

  <h2>Add Medicines</h2>
  <form action="/pharmacist/added_medicine" method="POST">
  <p>Medicine Name : <input type = "text" name = "name"></p>
  <p>Quantity      : <input type = "number" name = "quantity"></p>
  <p>Expiry Date   : <input type = "date" name = "expiry"></p>
  <p>
    Company Name   :
  <select id="id" name="company">
            {% for companyId, companyname in companies.items() %}
            <option value="{{companyId}};{{companyname}}">{{companyname}}</option>
            {% endfor %}
  </select>
  </p>
  <input type="submit" value="Add">
</form>
{% endblock %}