{% extends "/pharmacist/pharmacist.html" %}

{% block menu %}
          <li><a href="/pharmacist/show_med">All Medicines</a></li>
          <li><a href="/pharmacist/medicine_info">Search Medicines</a></li>
          <li><a href="/pharmacist/select_dispatch">Dispatch Medicines</a></li>
          <li><a href="/pharmacist/add_medicine">Add Medicines</a></li>
          <li class = "selected"><a href="/pharmacist/all_companies">Medicine Companies</a></li>
          <li><a href="/pharmacist/edit_profile">Edit Profile</a></li>
          <li><a href="/signout">Sign Out</a></li>
{% endblock %}


{% block content %}
<p>
{% if message1!=None %}
  <h4>Added company:-</h4>
  {% for x in message1 %}
  {{x}} - 
  {% endfor %}
  {% endif %}
</p>
<p>
{% if message2!=None %}
  <h4>Edited company:-</h4>
  {% for x in message2 %}
  {{x}} - 
  {% endfor %}
  {% endif %}
</p>

  <h2>Add New Company</h2>
  <form action="/pharmacist/added_company" method="POST">
  <p>Company Name      : <input type = "text" name = "name"></p>
  <p>Phone Number      : <input type="tel" id="phone" name="phone" placeholder="999-999-9999" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required></p>
  <small>Format: 999-999-9999</small><br><br>
  <input type="submit" value="Add">
</form>
<h2>Edit Company Details</h2>
<form action="/pharmacist/edited_company" method="POST">
  <p>
  Company Name   :
  <select id="id" name="name">
            {% for company in companies %}
            <option value="{{company[0]}};{{company[1]}}">{{company[1]}}</option>
            {% endfor %}
  </select>
</p>
  <p>New Phone Number      : <input type="tel" id="phone" name="phone" placeholder="999-999-9999" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required></p>
  <small>Format: 999-999-9999</small><br><br>
  <input type="submit" value="Edit Number">
</form>
  <h2>All Companies :-</h2>
          <table style="width:100%; border-spacing:0;">
            <tr><th>Company Name</th><th>Phone Number</th></tr>
            {%for company in companies%}
              <tr><td>{{company[1]}}</td>
                <td>{{company[2]}}</td>
              </tr>
            {%endfor%}
          </table>
{% endblock %}