<!DOCTYPE html>
<html>
<head>
	<title>
		About Us
	</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/about_us.css') }}">
	<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,400&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Copse&family=Poppins:wght@400;600&family=Manrope:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class = "panel">
		<h1>HealthKart</h1>
		<h2>The Medicine Dispensary</h2>
	</div>
	
	<div class = "box">
		<h2>ABOUT US</h2>
	
		<div>
			<p>HealthKart, your one destination to all your healthcare problems. It is an online platform for the smooth functioning of any dispensary which you can easily access through your devices. You can do all those things which can be done in a dispensary but without waiting in those long queues.
			</p>

			<p>Some of the facilities that we at HealthKart provide are listed as follow:
				<ul>
					<li>Scheduling an appointment with a doctor has never been easier just look at the doctors 
						availability chart and see which doctors are available in which time slot and then you 
						can  just book the slot with the doctor you wish to.</li>

					<li>Getting trouble in finding the medicine recommended by your doctor? Just check the availability of that medicine 		from our pharmacy.</li>

					<li>We also take care of your laboratory tests and now you can also see your laboratry test reports just by visiting 	your profile on HealthKart.</li>

					<li>Now you can also get the list of all the laboratory tests that are provided by Healthkart and you can also take a look at the doctors that are present in our dispensary.</li>
					</ul>
			</p>
			<p>So to make your life easier just visit our website and make your account. You could avail all the above mentioned facilities by signing up to HealthKart.	</p>
					
				
		</div>
	</div>
</body>
</html>