<!DOCTYPE HTML>
<html>

<head>
  <title>Welcome {{patientID}}</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="/patient">Welcome<span class="logo_colour">{{patientID}}</span></a></h1>
          <h2>Patient ID {{patientID}}</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="/patient">Home</a></li>
          <li><a href="/patient/medicine_info">Medicine Info</a></li>
          <li><a href="/patient/test_info">Test Info</a></li>
          <li><a href="/patient/test_reports">My Test Reports</a></li>
          <li class="selected"><a href="/patient/book_appointment">Book Appointment</a></li>
          <li><a href="/patient/edit_profile">Edit Profile</a></li>
      </div>
    </div>
    <div id="site_content">
     
      <div id="content">

       <form action="/patient/book_appointment_slot" method="post">
        <h3>Selected Department : {{dept}}</h3>
          <div class="form_settings">
            <p><span>Select Doctor</span><select id="id" name="Doctor">
              {% for doctor, did in doctors%}
              <option value="{{doctor}};{{dept}};{{did}}">{{doctor}}</option>
              {% endfor %}
              </select></p>
            <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="submit_button" value="Submit" /></p>
          </div>
        </form>
      </div>
    </div>
    <div id="footer">
      <p>Copyright &copy; simplestyle_3</p>
    </div>
    <p>&nbsp;</p>
  </div>
</body>
</html>
