<!DOCTYPE html>
<html>
<head>
	<title>appointment_dept</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/schedulestyle.css') }}">
</head>
<body>
	<header>
		<div class = "main">
			<ul class="navigation">
				<li>
					<a href="#">CANCEL</a>
				</li>
			</ul>
		</div>
	</header>
	<div class="container">
		{% for day in available_slots %}
			<div class="btn-group">
				<h5 class="date">{{day[0]}}</h5>
				{% for slot in day[1:] %}
					<form action="/patients/appointments/getschedule" method="post">
						<button class = "btn" type = "submit" name="submit_button" value="{{doctor}} {{day[i]}}">{{slot}}</button>
					</form>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
	
</body>
</html>