<!DOCTYPE HTML>
<html>

<head>
  <title>Welcome</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <!-- <link rel="stylesheet" type="text/css" href="style/style.css" /> -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/doctors.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Copse&family=Poppins:wght@400;600&family=Manrope:wght@500&display=swap" rel="stylesheet">
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="/labtechs">Welcome<span class="logo_colour">{{name}}</span></a></h1>
          <h2>LabTechnician ID {{labtechID}}</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="/labtech">Home</a></li>
          <li><a href="/labtech/test_report">Test Reports</a></li>
          <li class="selected"><a href="/labtech/test_info">Test Information</a></li>
          <li><a href="/labtech/patient_record">Patient Record</a></li>
          <li><a href="/labtech/publish_report">Publish Report</a></li>
          <li><a href="/labtech/edit_profile">Edit Profile</a></li>
          <li><a href="/signout">Sign Out</a></li>
        </ul>
      </div>
    </div>
    <div id="site_content">
      <div id="content">
        <h2>Test Name: {{test_info[0]}}</h2>
        <br>
        <h3>Test Description</h3>
        <br>
        <p>{{test_info[1]}}</p>
        <br>
        <h3>Test Cost: {{test_info[2]}}</h3>
        <br>
        <h3>Lab Technician Name: {{test_info[4]}}</h3>
        <br>
        <h3>Test Normal Results</h3>
        <br>
        <table style="width:100%; border-spacing:0;">
            <tr><th>Gender</th><th>Age Low</th><th>Age High</th><th>Range Low</th><th>Range High</th></tr>
            {%for test_result in test_results%}
              <tr><td>{{test_result[1]}}</td><td>{{test_result[2]}}</td><td>{{test_result[3]}}</td><td>{{test_result[4]}}</td><td>{{test_result[5]}}</td></tr>
            {%endfor%}
          </table>
      </div>
    </div>
    </div>
    <div id="footer">
      <p>Copyright &copy; simplestyle_3</p>
    </div>
    <p>&nbsp;</p>
  </div>
</body>
</html>
