<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="loginpage.css">
	<title>Login</title>
</head>
<body>
	<form>
	  	<div class="form-group">
	  		<ul class = "form-control">
	  			<li>MEMBER LOGIN</li>
	  			<li><input type="text" id="InputID" placeholder="Enter ID"></li>
	  			<li><input type="password" id="InputPassword" placeholder="Password"></li>
	  			<li><button type="submit" value = "Submit">SUBMIT</button></li>
	  		</ul>
	  	</div>	  	
	</form>

</body>
</html>