<!DOCTYPE html>
<html>
<head>
	<title>Patients</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/patientstyle.css') }}">	
</head>
<body>
	<header>
		<div class="main">
			<div class="logo">
				<img src="logo.png">
			</div>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Edit Profile</a></li>
				<li><a href="#">Contact</a></li>

			</ul>
			
		</div>
		<div class="title">
			<h1>WELCOME</h1>>
		</div>

		<div class="button">
			<a href="#" class="btn">BOOK APPOINTMENT</a>
			<a href="#" class="btn">CHECK APPOINTMENT</a>
			<a href="#" class="btn">TEST REPORTS</a>
			<a href="#" class="btn">MEDICINE RECOMMENDED</a>
			 

		</div>
	</header>

</body>
</html>
